table{
    border-collapse: collapse;
}
td ,th,caption{
    
    border:1px solid black;
    text-align: center;
}
#S36,#S37,#S38,#S39,#S40{
    background-color:rgb(211, 211, 211);
}
#S36Case,#S38Case,#S40Case{
    background-color: rgb(161, 217, 230);
}
#S37Case,#S39Case{
    background-color: rgb(108, 240, 143);
}
tFoot{
    font: italic;
    background-color: rgb(255, 255, 255);
}
caption{
   
    background-color: rgb(211, 211, 211);
}


